p {
  font-weight: bold;
}

.profile-padding {
  margin-top: 10px;
}

.table-heading {
  background-color: rgb(202, 202, 202);
}

.table-title {
  text-align: left;
  font-size: 21px;
}
.add-button {
  float: left;
  margin-left: 20px;
}
.edit-button {
  background-color: rgb(6, 20, 80);
  color: rgb(255, 255, 255);
  border: 1px solid rgb(6, 20, 80);
  border: radius 5px;
}
