.btn-primary {
  background-color: rgb(6, 20, 80);
  color: rgb(255, 255, 255);
  border: 1px solid rgb(6, 20, 80);
}

.btn-primary:hover {
  background-color: rgb(255, 255, 255);
  color: rgb(6, 20, 80);
  border: 1px solid rgb(0, 54, 80);
}

.draft-btn {
  margin-top: 5%;
  margin-bottom: 7%;
}

.profile-padding {
  padding-top: 10px;
}

.progressbar {
  margin-bottom: 0rem;
  text-align: left;
}

.back-button {
  padding-bottom: 20px;
}
.editCard{
  box-shadow: 10px 10px 5px rgb(97, 94, 94);
  border-radius: 10px rgb(48, 45, 45);

}
.borderClass{
  border: 2px solid rgb(80, 80, 80);
}