p {
  font-weight: bold;
}

.profile-padding {
  margin-top: 10px;
}

.table-heading {
  background-color: rgb(202, 202, 202);
}

.table-title {
  text-align: left;
  font-size: 21px;
}
.add-button {
  float: left;
  margin-left: 20px;
  background-color: rgb(6, 20, 80);
  color: rgb(255, 255, 255);
  border: 1px solid rgb(6, 20, 80);
  border-radius: 5px;
  margin-bottom: 5px;
}
.edit-button {
  background-color: rgb(6, 20, 80);
  color: rgb(255, 255, 255);
  border: 1px solid rgb(6, 20, 80);
  border-radius: 5px;
  margin-right: 2px;
}
.delete-button {
  background-color: rgb(190, 18, 18);
  color: rgb(255, 255, 255);
  border: 1px solid rgb(190, 18, 18);
  border-radius: 5px;
}
.button-div {
  float: right;
}
