.not-background-image {
  opacity: 1;
  z-index: 0;
  color: rgb(8, 3, 3);
  padding-top: 5%;
}
.dfximage {
  width: 100%;
}

.outer-div {
  height: 86vh;
}
.dfx-image {
  background: url(../images/dfx_background.png);
  background-size: cover;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  border: 50px solid #0014a0;
}
